@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
}

#telefone{
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(imagens/frame-iphone.png);
}

iframe{
    position: relative;
    top: 80px;
    left: 22px;
    height: 472px;
    width: 268px;
}

#navegar{
    display: flex;
    flex-basis: left;
    flex-direction: column;
    align-items: flex-end;
}

#navegar img{
    height: 50px;
    padding: 10px;
    border-radius: 50%;
}