@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(imagens/fundo-madeira.jpg);
  background-size: cover;
}

#telefone {
  position: absolute;
  height: 627px;
  width: 311px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(imagens/frame-iphone.png);
}

iframe {
  position: relative;
  top: 80px;
  left: 22px;
  height: 472px;
  width: 267px;
}

#navegar {
  display: flex;
  flex-basis: left;
  flex-direction: column;
  align-items: flex-end;
}

section#navegar img {
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

#navegar img:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  transition: transform 0.2s, box-shadow 0.2s, border 0.1s;
}
